.course-input-component-container {
    border-radius: 1em;
    margin: 1.5em;
}

.class-number-desc {
    padding: 2em;
}

.course-input-component-container {
    font-size: 1em;
    background-color: #CFE1B9;
    padding: 1em;
}

.input-label {
    padding: 1em;
}

.input-text-field {
    padding: 0.35em;
    border-radius: 0.25em;
    border: none;
    margin: 0.25em;
}

.input-text-field:focus {
    padding: 0.35em;
    border-radius: 0.25em;
    /* border: solid 1px red; */
    border: none;
    margin: 0.25em;
    box-shadow: 0 0 0.25em 0.125em #88B552;
    outline: none;
}

